
.rating {
    margin: left 0;
}

.page {
    background-color: #dfe6e0;
    padding: 0%;
   
}

.fa {
    color: #f2dd1d
}

.card-img-top {
    width: 90%;
    height: 225px
}

.view {
    background-color: #dfe6e0;
    padding: 0px;
    margin: 0px
}

.card {
    width: 95%;
    padding: 0px;
    margin-left: 0%
}

.card-footer {
    background-color: #ff772e;
    font-weight: 700
}

.price {
    color: #ff4517;
    font-weight: 600
}


  #left-hand, #right-hand {
    fill: #0095b3;
  }
  
  #right-hand {
    position: relative;
    z-index: -1;
  }
  
  #left-hand {
    position: relative;
    z-index: 1;
  }
  
  h1 {
    font-family: 'Amatic SC', cursive;
    color: #00ccff;
    font-size: 36px;
  }

  #alfa {
    font-family: 'Amatic SC', cursive;
    color: #00ccff;
    font-size: 36px;
  }
